/* CSS Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ol,
ul,
pre,
fieldset,
hr {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  background-color: #FEFBF7;
}

ol,
ul {
  list-style: none;
}

/* Set box-sizing to border-box for all elements */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Font Families */
/* Roboto for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant Garamond', serif;
}

/* Quicksand for other text elements */
body,
p,
figure,
blockquote,
dl,
dd,
ol,
ul,
pre,
fieldset,
hr {
  font-family: 'Fira Sans', sans-serif;
}

.tiny {
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
}

/* 2-column layout */
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.column {
  flex: 1;
  padding: 20px;
  min-width: 0;
  /* Fix overflow issue in some browsers */
}

.column img {
  width: 100%;
}

/* Full-width streamer block */
.streamer {
  background-color: #FCF3E7;
  text-align: center;
  padding: 16px 0;
}

.streamer-inner {
  overflow: auto;
  display: flex;
  gap: 10px;

  /* Invisible scrollbar */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Invisible scrollbar */
.streamer-inner::-webkit-scrollbar {
  display: none;
}

.image-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  animation: marque 50s linear infinite;
}

.image-list-item {
  padding: 16px;
}

.streamer img {
  width: 150px;
  height: 150px;
  filter: grayscale(100%);
  transition: all 0.2s ease-out;
}

.streamer img:hover {
  filter: grayscale(0%);
}

/* Contact block */
.contact {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.contact img {
  max-width: 100px;
  width: 100%;
}

.contact a {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .container, .image-list {
    flex-direction: column;
  }

  .streamer-inner {
    overflow: visible;
    width: 100%;
  }

  .image-list {
    /* flex-wrap: wrap; */
    animation: none;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
    .streamer img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

  [aria-hidden="true"] {
    display: none;
  }
}

@keyframes marque {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 16px));
  }
}
